@model IkinciElPlatform.Models.Category

<h2 class="fw-bold mb-3">➕ Yeni Kategori Ekle</h2>

<form method="post">
    <div class="mb-3">
        <label>Kategori Adı</label>
        <input asp-for="Name" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">
        💾 Kaydet
    </button>

    <a href="/Admin/Categories" class="btn btn-secondary">
        🔙 Geri
    </a>
</form>
