@{
    ViewData["Title"] = "Admin Panel";
}

<h2 class="text-center fw-bold mb-4">👑 Admin Panel</h2>

<div class="text-center">
    <a href="/Admin/Categories" class="btn btn-primary btn-lg">
        📂 Kategori Yönetimi
    </a>
</div>
<a href="/Admin/Products" class="btn btn-dark btn-lg ms-3">
    📦 İlan Yönetimi
</a>
